## Defaultsfor native integrations
# https://whitesource.atlassian.net/wiki/spaces/WD/pages/1781760001/Unified+Agent+Configuration+Parameters+for+Native+Integrations

maven.runPreStep=true
maven.ignoreSourceFiles=true
maven.ignoreMvnTreeErrors=true


## Re: POM/Super POM
## https://whitesource.atlassian.net/wiki/spaces/WSK/pages/2386297005/Configuring+the+Unified+Agent+for+Maven


##### maven #####
#maven.runPreStep=false
#maven.resolveDependencies=true
#maven.ignoredScopes=[]
#maven.ignoreSourceFiles=true
maven.ignorePomModules=false
#maven.ignoreMvnTreeErrors=true
maven.aggregateModules=false
#maven.projectNameFromDependencyFile=false
#maven.maxCacheFolderSize=
#maven.m2RepositoryPath=
#maven.environmentPath=
#maven.downloadMissingDependencies=true
#maven.additionalArguments=


scanComment = 11/11 14:28 - this should use whitesource.config
